<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Razas Peligrosas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Pit Bull Terrier</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/Pit_Bull_Terrier.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Staffordshire Bull Terrier</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/Staffordshire_Bull_Terrier.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>American Staffordshire Terrier</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/American_Staffordshire_Terrier.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Rottweiler</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/Rottweiler.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Dogo Argentino</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/Dogo_Argentino.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Fila Brasileiro</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/Fila_Brasileiro.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Tosa Inu</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/Tosa_Inu.jpg" />
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Akita Inu</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/perros/Akita_Inu.jpg" />
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-card-title>Otras razas</ion-card-title>
          <ion-card-subtitle>Si cumplen la mayoria o todas las caracteristicas:</ion-card-subtitle>
        </ion-card-header>
      </ion-item>
      <ion-card-content>
        <p>a) Fuerte musculatura, aspecto poderoso, robusto, configuración atlética, agilidad, vigor y resistencia.</p>
        <p>b) Marcado carácter y gran valor.</p>
        <p>c) Pelo corto.</p>
        <p>d) Perímetro torácico comprendido entre 60 y 80 centímetros, altura a la cruz entre 50 y 70 centímetros y
          peso superior a 20 kg.</p>
        <p>e) Cabeza voluminosa, cuboide, robusta, con cráneo ancho y grande y mejillas musculosas y abombadas.
          Mandíbulas grandes y fuertes, boca robusta, ancha y profunda.</p>
        <p>f) Cuello ancho, musculoso y corto.</p>
        <p>g) Pecho macizo, ancho, grande, profundo, costillas arqueadas y lomo musculado y corto.</p>
        <p>h) Extremidades anteriores paralelas, rectas y robustas y extremidades posteriores muy musculosas, con patas
          relativamente largas formando un ángulo moderado.</p>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="info()">
      <ion-icon name="help"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>