<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="isNew">Añadir evento</ion-title>
    <ion-title *ngIf="!isNew">Editar evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-datetime [(ngModel)]="fecha" disabled displayFormat="DD MMMM YYYY" min="2005" max="2060">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Titulo</ion-label>
          <ion-input [(ngModel)]="event.title"></ion-input>
        </ion-item>

      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="event.description" rows="6" cols="20"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select (ionChange)="formControl()" [(ngModel)]="event.type" interface="popover">
          <ion-select-option value="event">Evento</ion-select-option>
          <ion-select-option value="juicio">Juicio</ion-select-option>
          <ion-select-option value="turn">Turno extra</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="event.type == 'turn'">
        <ion-label>Turno: </ion-label>
        <ion-select (ionChange)="formControl()" [(ngModel)]="event.turn" interface="popover"
          placeholder="Escoje un turno">
          <ion-select-option *ngFor="let turn of turns" [value]="turn">{{turn.title}} {{turn.startTime}} -
            {{turn.finalTime}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="event.type == 'juicio' || event.type == 'event'">
        <ion-label  position="floating">Hora inicio</ion-label>
        <ion-datetime [(ngModel)]="event.startTime"
          displayFormat="HH:mm">
        </ion-datetime>
        <ion-label position="floating">Hora fin</ion-label>
        <ion-datetime [(ngModel)]="event.finalTime"
          displayFormat="HH:mm">
        </ion-datetime>
      </ion-item>

      <ion-item *ngIf="event.type == 'juicio' || event.type == 'turn'">
        <ion-label>Pagado</ion-label>
        <ion-checkbox [(ngModel)]="event.payed" color="primary" slot="start"></ion-checkbox>
      </ion-item>

      <ion-button color="primary" *ngIf="isNew"  [disabled]="!formOk" (click)="saveEvent()">Guardar</ion-button>
      <ion-button color="primary" *ngIf="!isNew" [disabled]="!formOk" (click)="updateEvent()">Actualizar</ion-button>
      <ion-button color="danger" *ngIf="!isNew" (click)="deleteEvent()">Eliminar</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>