.disabled{
    background-color: rgba(0, 0, 0, 0.062);
    color:rgb(163, 163, 163);
    filter: contrast(100%) brightness(90%);
}
.today{
    background-color:rgb(172, 212, 219) ;
    filter: contrast(110%) brightness(110%);
}
.selected{
    background-color:rgb(160, 226, 164) ;
    filter: contrast(120%) brightness(120%);
}

.dot-container{    
    
    position: relative;
    left: 5px;
    padding:10px;
}
.dot{
    position: absolute;
    top: 3px;
    left:3px;
    border-radius: 5px;
    padding: 5px; 
    background-color: red;
}

.green{
    background-color: palegreen ;
}
.turquoise{
    background-color:paleturquoise ;
}
.pink{
    background-color:palevioletred ;
}
.yellow{
    background-color:palegoldenrod ;
}