<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newEvent();">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshCalendar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <table style="width:100%">
      <tr>
        <th style="margin:0;padding:0px;" colspan="7">
          <h1>{{calcMonth | date:'MMMM yyyy'}}</h1>
        </th>
      </tr>
    </table>
  </ion-item>

  <ion-item-sliding *ngIf="month[0][0] != null">
    <ion-item-options (ionSwipe)="prevMonth()" side="start">
    </ion-item-options>
    <ion-item>
      <table style="width:100%">
        <tr>
          <th style="margin:0;padding:0px;text-align: center;" *ngFor="let cab of cabeceras">
            <h3>{{cab}}</h3>
          </th>
        </tr>
        <tr *ngFor="let week of weeks">
          <td class="dot-container {{day.style}} {{day.selected}}" style="text-align: center;"
            [ngStyle]="{'background-color':day.turn.color}" (click)=selectDay(day) *ngFor="let day of month[week]">

            <div class="dot" *ngIf="day.events.length > 0">
            </div>

            <h3 style="margin:0;padding:0;">{{day.day.getDate()}}
            </h3>
            <p style="margin:0;padding:0;font-size: smaller;" *ngIf="day.turn">{{day.turn.title}}</p>
          </td>
        </tr>
      </table>
    </ion-item>
    <ion-item-options (ionSwipe)="nextMonth()" side="end">
    </ion-item-options>
  </ion-item-sliding>

  <ion-list *ngIf="selected">
    <div *ngIf="selected.turn.title != '' && !selected.turn.isHidden">
      <ion-item>
        <ion-text>{{selected.turn.description}}</ion-text>
        <ion-text slot="end">{{selected.turn.startTime}} - {{selected.turn.finalTime}}</ion-text>
      </ion-item>
    </div>
    <div *ngIf="selected.events.length > 0">
      <ion-list-header>Eventos</ion-list-header>

      <ion-item-sliding *ngFor="let event of selected.events">
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteEvent(event)">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
          <ion-item-option color="primary" (click)="editEvent(event)">
            <ion-icon name="pencil" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-label>{{event.title}}</ion-label>
          <ion-text slot="end">{{event.startTime}} - {{event.finalTime}}</ion-text>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="editEvent(event)">
            <ion-icon name="pencil" size="large"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteEvent(event)">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


    </div>
    <div *ngIf="selected.events.length < 0">
      <ion-list-header>No hay eventos</ion-list-header>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="saveBajaEvent();">
        Baja
      </ion-fab-button>
      <ion-fab-button (click)="saveApEvent();">
        AP
      </ion-fab-button>
      <ion-fab-button (click)="saveVacationEvent();">
        Vac
      </ion-fab-button>
      <ion-fab-button (click)="saveFiestaEvent();">
        F
      </ion-fab-button>
      <ion-fab-button (click)="newEvent();">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>