<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshCalendar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <table style="width:100%">
      <tr>
        <th style="margin:0;padding:0px;" colspan="7">
          <h1>{{calcMonth | date:'MMMM yyyy'}}</h1>
        </th>
      </tr>
    </table>
  </ion-item>

  <ion-item-sliding>
    <ion-item-options (ionSwipe)="prevMonth()" side="start">
    </ion-item-options>
    <ion-item>
      <table style="width:100%">
        <tr>
          <th style="margin:0;padding:0px;" *ngFor="let cab of cabeceras">
            <h3>{{cab}}</h3>
          </th>
        </tr>
        <tr *ngFor="let week of weeks">
          <td class="dot-container {{day.style}} {{day.selected}} {{day.turnColor}}" align="center"
            (click)=selectDay(day) *ngFor="let day of month[week]">

            <div class="dot" *ngIf="day.events.length > 0">
            </div>

            <h3 style="margin:0;padding:0;">{{day.day.getDate()}}
            </h3>
            <p style="margin:0;padding:0;font-size: smaller;" *ngIf="day.turn">{{day.turn.title}}</p>
          </td>
        </tr>
      </table>
    </ion-item>
    <ion-item-options (ionSwipe)="nextMonth()" side="end">
    </ion-item-options>
  </ion-item-sliding>

  <ion-list *ngIf="selected">
    <div *ngIf="selected.events.length > 0">
      <ion-list-header>Eventos</ion-list-header>
      <ion-item *ngFor="let event of selected.events">
        <ion-label>{{event.title}}</ion-label>
        <ion-note slot="end">11</ion-note>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTurn();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>