<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <ion-item>
      <h1>Cuadrantes</h1>
    </ion-item>
  </ion-text>

  <ion-refresher slot="fixed" (ionRefresh)="loadCuadranteList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!isNew && !isEdit">
    <ion-item-sliding *ngFor="let cuadrante of cuadrantes">
      <ion-item>
        <ion-text>{{cuadrante.name}} con dia de inicio: {{cuadrante.startDay | date: 'dd/MM/yyyy'}} </ion-text>
        <ion-toggle slot="end" [(ngModel)]="cuadrante.isActive" (click)="cuadranteActivation(cuadrante);">
        </ion-toggle>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="clickEdit(cuadrante)">
          <ion-icon name="pencil" size="large"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="clickDelete(cuadrante)">
          <ion-icon name="trash" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-card *ngIf="isNew || isEdit">
    <ion-card-header>
      <ion-card-title *ngIf="isNew">Crear cuadrante</ion-card-title>
      <ion-card-title *ngIf="isEdit">Modificar cuadrante</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [disabled]="isAddTurn" (ionChange)="formControl();" [(ngModel)]="newCuadrante.name"
          placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de inicio del cuadrante.</ion-label>
        <ion-datetime [disabled]="isAddTurn" (ionChange)="formControl();" [(ngModel)]="startDate"
          displayFormat="DD MMMM YYYY"></ion-datetime>
      </ion-item>
      <!-- turnos -->
      <ion-list>
        <ion-item>
          <ion-label ><ion-card-subtitle>Turnos</ion-card-subtitle></ion-label>
        </ion-item>
        <ion-reorder-group disabled="{{isAddTurn}}" (ionItemReorder)="reorderItems($event)">
          <ion-item-sliding *ngFor="let turn of newCuadrante.turns">
            <ion-item [disabled]="isAddTurn">
              <h6>{{turn.title}} de {{turn.startTime}} a {{turn.finalTime}} {{turn.days}} dias</h6>              
              <ion-chip slot="end" style="width: 4em;" [ngStyle]="{'background-color': turn.color}">
                <ion-label style="width: 4em;text-align: center;"></ion-label>
              </ion-chip>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="clickDeleteTurn(turn)">
                <ion-icon name="trash" size="large"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-reorder-group>

        <div *ngIf="isAddTurn">
          <ion-item>
            <ion-label>Turno: </ion-label>
            <ion-select [(ngModel)]="turn" (ionChange)="formTurnControl();" interface="popover"
              placeholder="Escoje un turno">
              <ion-select-option *ngFor="let turn of turns" [value]="turn">{{turn.title}} {{turn.startTime}} -
                {{turn.finalTime}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Dias en este turno: </ion-label>
            <ion-input [(ngModel)]="days" (ionChange)="formTurnControl();" style="text-align: right;" type="number"
              placeholder="0"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size-sm="6" size="6">
              <ion-button [disabled]="!formTurnOk" expand="full" type="submit" (click)="addTurn()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size-sm="6" size="6">
              <ion-button color="danger" expand="full" (click)="isAddTurn = false">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>


      </ion-list>

      <ion-item *ngIf="!isAddTurn" (click)="isAddTurn = true">
        <h5>
          <ion-icon name="add"></ion-icon> Añadir Turno
        </h5>
      </ion-item>

      <ion-button *ngIf="isNew" color="primary" [disabled]="!formOk" (click)="clickSave()">Guardar</ion-button>
      <ion-button *ngIf="isEdit" color="primary" [disabled]="!formOk" (click)="clickSaveEdit()">Actualizar</ion-button>
      <ion-button color="danger" [disabled]="isAddTurn" (click)="isNew=false;isEdit=false">Cancelar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="!isNew && !isEdit" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCuadrante();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>